<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Welcome back, <%= payload.fullname %>!
    <br>
    <img src="<%= payload.avatar %>" alt="avatar" width="64" height="64" />
    <a href="/logout">Log out</a>
</body>
</html>